// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
  // padding: 8px;
}

li {
  list-style-type: none;
}

// .container {
//   width: 750px;
// }

.row {
  margin-right: -15px;
  margin-left: -15px;
}
